* {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --liner: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

/* Header Section Styles */
header {}

/* nav section styles */
.nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title img {
    height: min-content;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid tomato; */
    padding: 0px 100px;
}

nav ul {
    display: flex;
}

ul>li a {
    text-decoration: none;
}

.g {
    color: #FF42A5;
}

.small-back-degin {
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px;
}

.nav-title>h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

ul {
    list-style: none;
    gap: 20px;
    align-items: center;
}

nav a {
    text-align: center;
    color: #3C354F;
    font-weight: 500;
    font-size: .75rem;
}

/* Bannar section style */
.bannar {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    /* border: 2px solid salmon; */
}

.bannar-content {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
    min-width: 50%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    /* border: 2px solid; */
}

.bannar-description {
    padding-left: 100px;
}

.bannar-img {
    /* border: 2px solid seagreen; */
}

.bannar-img img {
    width: 100%;
    height: 100%;
}

.bannar-description h3 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
}

.bannar-description h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 0px;
}

.bannar-description p {
    margin-top: 0px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.sign-in {
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--liner);
    color: white;
    border: 0px;
    font-weight: 600;
    font-size: 1rem;
}

.go-rough {
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: 0px;

}



/* online game section styles */
.online-game {
    margin-top: 50px;
    padding-top: 40px;
    /* border: 2px solid; */
}

.game-images-container {
    padding-left: 100px;
    padding-right: 100px;
}

.online-description {
    text-align: center;
}

.online-game-title {
    /* color: #0B0223; */
    font-size: 48px;
    font-weight: 700;
}

.fanny-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game-subtitle {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.game-images-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.game-img img {
    width: 250px;
    height: 300px;
}

.game-img p {
    color: #534C64;
    font-size: .8rem;
    text-align: center;
}

.game-img {
    position: relative;
}

.img-container {
    position: relative;
    display: inline-block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.game-img:hover .img-container img {
    border: 2px solid red;
}

.game-img:hover .play-button {
    display: block;
}



/* play-download section */
.play-download {
    /* border: 2px solid; */
}

.play-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* border: 2px solid ; */
}

.play-download {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
}

.play-image {
    padding-left: 50px;
}

.play-description {
    text-align: right;
}

.play-description h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.play-description p {
    color: #534C64;
    font-weight: 400;
    font-size: 12px;
}

.play-instant {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.big-img {
    height: 400px;
    width: 350px;
    margin-left: 90px;
}

.small-img {
    height: 200px;
    width: 150px;
    border-radius: 8px;
    position: relative;
    bottom: 150px;
    left: 20px;
}

/* game type section style */
.game-type {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.game-type-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 50px;
    padding: 5px;
    background-color: white;
}

.game:hover {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid;
    border-color: #F948B2;
}

.game h5 {
    font-weight: 600;
    font-size: .6rem;
}

/* footer section styles */

footer {
    background-color: #0B0223;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-container {
    color: white;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subtitle h6 {
    font-size: .8rem;
    font-weight: 600;
}

.subtitle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 10px;
    font-weight: 500;
}

.footer-container h6 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 10px;
    font-weight: 500;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    margin-right: 20px;
}

/* for mobile device */

@media screen and (max-width: 576px) {
    .nav-section {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    .bannar {
        flex-direction: column-reverse;
        padding: 0px;
    }

    .bannar-img {
        display: flex;
        justify-content: center;
    }

    .bannar-img img {
        width: 300px;
        height: 300px;
    }

    .bannar-content {
        width: 90%;
        flex-direction: column;
        margin-left: 20px;
    }

    .bannar-description {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    /* online game section */
    .game-images-container {
        flex-direction: column;
    }

    .online-game-title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .online-game-subtitle {
        font-size: 12px;
    }

    .game-images-container {
        padding-left: 80px;
    }

    /* play-download */
    .play-content {
        flex-direction: column;
        align-items: center;
    }

    .play-description {
        text-align: center;
    }

    .play-download {
        padding-left: 20px;
        padding-right: 20px;
    }

    .big-img {
        height: 300px;
        width: 250px;
        margin-left: 90px;
    }

    .small-img {
        height: 200px;
        width: 150px;
        border-radius: 8px;
        position: relative;
        bottom: 150px;
        left: 20px;
    }

    /* game type section */
    .game-type-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .game-type {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* footer section */
    .subtitle {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
    }

    .subtitle2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }

    footer {
        padding-left: 100px;
        padding-right: 100px;
    }

    .icon-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width:960px) {
    .nav-section {
        padding: 0px 60px;
    }

    .bannar {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .bannar-content {
        padding-bottom: 20px;
    }

    .game-images-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .play-download {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 80px;
    }

}